<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Republic suite" verbose="1" thread-count="2" parallel="tests">
    <listeners>
        <listener class-name="com.datarepublic.TestNGExecutionListener"></listener>
    </listeners>
    <test name="Data Republic Assessment - Chrome" annotations="JDK">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="com.datarepublic.RunCukesInTestNG"/>
        </classes>
    </test>
    <test name="Data Republic Assessment - Firefox" annotations="JDK">
        <parameter name="browserName" value="Firefox"></parameter>
        <classes>
            <class name="com.datarepublic.RunCukesInTestNG"/>
        </classes>
    </test>
</suite>